In [23]:
from __future__ import division
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Datos/Datos.xlsx')

In [3]:
df.head()

,estatura(cm),#zapato,tamaño de la mano desde la base hasta la punta del dedo medio en linea recta(cm),Sexo,peso(kg),signo del zodiaco
0,184,30.0,19.5,M,57.0,Acuario
1,163,25.0,18.0,F,58.0,piscis
2,175,28.0,18.0,M,73.0,Tauro
3,170,26.5,18.5,M,55.0,Acuario
4,175,28.0,16.0,M,72.0,Cáncer

In [4]:
var = [x for x in df.columns if x!='Sexo']

In [5]:
var

[u'estatura(cm)',
 u'#zapato',
 u'tama\xf1o de la mano desde la base hasta la punta del dedo medio en linea recta(cm)',
 u'peso(kg)',
 u'signo del zodiaco']

In [8]:
ren = dict(zip(var,['x%d'%i for i in range(1,len(var)+1)]))

In [9]:
df.rename(columns=ren,inplace=True)

In [10]:
df.head()

    x1    x2    x3 Sexo    x4       x5
0  184  30.0  19.5    M  57.0  Acuario
1  163  25.0  18.0    F  58.0   piscis
2  175  28.0  18.0    M  73.0    Tauro
3  170  26.5  18.5    M  55.0  Acuario
4  175  28.0  16.0    M  72.0   Cáncer

In [12]:
df.dropna(inplace=True)

In [13]:
df.reset_index(inplace=True,drop=True)

In [14]:
df.Sexo.value_counts()

M    23
F    10
Name: Sexo, dtype: int64

In [16]:
df['x5'] = df['x5'].map(lambda x:x.upper())

In [26]:
df['x5'] = np.where(df['x5']==u'CÁNCER','CANCER',df['x5'])
df['x5'] = np.where(df['x5']=='ESCORPIO','ESCORPION',df['x5'])

In [31]:
df['y'] = (df.Sexo=='F').astype(int)

In [32]:
df.head()

    x1    x2    x3 Sexo    x4       x5  y
0  184  30.0  19.5    M  57.0  ACUARIO  0
1  163  25.0  18.0    F  58.0   PISCIS  1
2  175  28.0  18.0    M  73.0    TAURO  0
3  170  26.5  18.5    M  55.0  ACUARIO  0
4  175  28.0  16.0    M  72.0   CANCER  0

In [33]:
X = df[['x1','x2','x3','x4']].copy()
y = df['y']

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn.model_selection import train_test_split

In [36]:
Xt,Xv,yt,yv = train_test_split(X,y,train_size=0.7)

In [39]:
model = LogisticRegression()

In [40]:
model.fit(Xt,yt)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [41]:
def metricas(model,Xt,Xv,yt,yv):
    print "acc_t %.2f acc_v %.2f"%(accuracy_score(y_pred=model.predict(Xt),y_true=yt),
    accuracy_score(y_pred=model.predict(Xv),y_true=yv))

In [42]:
metricas(model,Xt,Xv,yt,yv)

acc_t 0.87 acc_v 0.90

In [43]:
ren

{u'#zapato': 'x2',
 u'estatura(cm)': 'x1',
 u'peso(kg)': 'x4',
 u'signo del zodiaco': 'x5',
 u'tama\xf1o de la mano desde la base hasta la punta del dedo medio en linea recta(cm)': 'x3'}